.JobList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.JobList h2 {
    color: white;
}

.JobList h5 {
    color: white;
}
  
.JobList-searchform {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.JobList-list {
  width: 100%;
  max-width: 1000px;
}
  
  